/*texto*/
/*colores*/
/*bordes*/
/*sombreados*/
/*mapas*/
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Quattrocento Sans", sans-serif, monospace;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #24292f, #262d37, #28323e, #293646, #2b3b4e, #2f3e51, #324254, #364557, #3c4855, #424b54, #494d52, #4f5051);
  background-color: #24292E;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2vw;
  padding-bottom: 6rem; }
  @media screen and (max-width: 768px) {
    body {
      padding-bottom: 10rem; } }

/*Clases del <header>*/
header {
  background-image: linear-gradient(to bottom, #24292f, #24292f, #24292f, #24292f, #24292f, #242930, #242a30, #242a31, #242b33, #252c35, #252d37, #262e39); }

.title {
  font-family: "Quattrocento Sans", sans-serif, monospace; }

.divider {
  height: 0.1vh;
  box-shadow: 0px 0px 3px 1px #a8fbfb;
  background-color: #a8fbfb; }

.cabecera__nav__a {
  height: 3.5vh;
  text-align: center;
  border: 0px 0px 1px 0px solid #a8fbfb; }
  .cabecera__nav__a:hover {
    -webkit-box-shadow: 0px 0px 2px 1px #a8fbfb;
    -moz-box-shadow: 0px 0px 2px 1px #a8fbfb;
    box-shadow: 0px 0px 2px 1px #a8fbfb; }

.active__page {
  border-bottom: 1px solid #a8fbfb; }

/*Media Queries*/
@media screen and (max-width: 767px) {
  .cabecera__nav__a {
    margin-top: 2px; } }

/*Clases del <footer>*/
.pie {
  width: 100%;
  background-color: #363636;
  color: #cccccc4a;
  -webkit-box-shadow: 0px -3px 5px 0px #000000bf;
  -moz-box-shadow: 0px -3px 5px 0px #000000bf;
  box-shadow: 0px -3px 5px 0px #000000bf;
  background-image: linear-gradient(to top, #24292f, #24292f, #24292f, #24292f, #24292f, #272c32, #2b2f34, #2e3237, #36393d, #3e4144, #46484a, #4f5051); }
  .pie .pie__info .pie__info__disclaimer {
    width: 80vw;
    font-size: 0.9rem;
    text-align: center; }
  .pie .pie__info .pie__info__disclaimer_sm {
    display: none; }
  .pie .pie__info .pie__links {
    justify-content: space-around;
    padding-bottom: 3px; }
    .pie .pie__info .pie__links .pie__links_img {
      width: 1.3vw; }
      .pie .pie__info .pie__links .pie__links_img:hover {
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 2px 1px #a8fbfb;
        -moz-box-shadow: 0px 0px 2px 1px #a8fbfb;
        box-shadow: 0px 0px 2px 1px #a8fbfb; }

/*Media Queries*/
@media screen and (max-width: 768px) {
  .pie .pie__info {
    margin-top: 8px; }
    .pie .pie__info .pie__info__disclaimer {
      display: none; }
    .pie .pie__info .pie__info__disclaimer_sm {
      display: block;
      text-align: center; }
    .pie .pie__info .pie__links {
      flex-direction: row;
      justify-content: space-evenly; }
      .pie .pie__info .pie__links .pie__links_img {
        margin-top: 3px;
        list-style: none;
        width: 8vw; } }

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cccccc4a;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc4a;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8fbfb; }
