/*Clases del <header>*/
.title{
    font-family: $fuente;
}
.divider{
    height: map-get($heights,divider);
    box-shadow: $sombreado-divider;
    background-color: $links-color;
}
.cabecera__nav__a{
    height: map-get($heights,titulo);
    text-align: $text-center;
    @include borde-links ();
    &:hover {
        @include sombra (-botones);   
    }
}
.active__page{
    border-bottom: 1px solid #a8fbfb;
}


/*Media Queries*/
@media screen and (max-width: 767px){
    .cabecera__nav__a{
        margin-top: map-get($margins,top-2);
}}